                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 /*COLOR STRUCT FOR EVERTHING*/
:root {
    --color-one: #383838;
    --color-two: #7D7D7D;
    --color-three: #FFFFFF;
    --color-four: #bbbbbb;
    --color-five: white;
    --background-color-one: #191919;
    --background-color-two: #7D7D7D;
    --scrollbar-color-one: #AEAEAE;
    --scrollbar-color-two: #383838;
    --text-color-one: #AEAEAE;
    --text-color-two: #FFFFFF;
    --text-color-three: #383838;
    --title-box-color-one: #7D7D7D;
    --textarea-color-one: #bbbbbb;
    --color-error-text: #ffd800;
}




/*STRUCT ELEMENTS*/
.all-page {
    background-color: var(--background-color-one);
    width: 100vb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*MAIN BLOCKS STYLES*/
.m-block {
    display: flex;
    box-shadow: gray -1px -1px 20px 4px;
    width: 500px;
    max-height: 40px;
    padding: 20px 10px;
    border-radius: 20px;
    overflow-y: hidden;
}

.m-intern-block {
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 20px;
}

.m-block-title {
    background-color: var(--title-box-color-one);
    color: var(--text-color-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.m-block-content {
    background-color: var(--color-one);
    color: var(--text-color-one);
    padding: 0px 10px;
    overflow-y: scroll;
}

.m-block-button-group {
    display: flex;
}

.m-block-title-button {
    width: 100px;
}

.m-block-intern-box {
    background-color: var(--background-color-two);
    border: solid 10px var(--color-four);
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

/*--------------------------------------------------*/
/*EXTERN BOX (POP UP)*/
.m-extern-box {
    left: 50%;
    margin-left: -150px;
    margin-top: 50px; 
    position: absolute;
    background-color: var(--background-color-two);
    border: solid 4px var(--color-four);
    width: 350px;
    border-radius: 10px;
    z-index: 1;
}
.m-extern-box-title {
    background-color: var(--title-box-color-one);
    color: var(--text-color-two);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}
.m-extern-box-content {
    background-color: var(--color-one);
    color: var(--text-color-one);
    padding: 0px 10px;
    overflow-y: scroll;
}

/*--------------------------------------------------*/
/*BUTTONS AREA*/
.m-btn, m-btn:focus {
    margin: 10px;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-five);
    background-color: var(--color-two);
}
    .m-btn:hover {
        color: var(--color-two);
        background-color: var(--color-five);
    }

.m-btn-sm {
    font-size: 12pt;
}

.m-button,
.m-button:focus {
    background-color: var(--title-box-color-one);
    color: var(--text-color-two);
    outline: none;
    border: none;
}
    .m-button:hover {
        background-color: var(--color-one);
        border: solid 2px var(--text-color-two);
        border-radius: 5px;
    }

.m-btn-passion {
    background-color: var(--color-two);
    border: solid 2px var(--text-color-two);
    border-radius: 5px;
    margin: 10px;
}

/*--------------------------------------------------*/
/*INPUT TEXT AREA*/
.m-input, .m-input:focus{
    margin: 2px auto 2px 5px;
    border: none;
    border-radius: 4px;
    outline:none;
    font-weight: bold;
    color: var(--color-one);
    background-color: var(--color-five);
}



/*--------------------------------------------------*/




.login-area{
    color: var(--text-color-two);
}

.text-area {
    background-color: var(--textarea-color-one);
    color: var(--text-color-three);
    border-radius: 10px;
    outline: none;
}

.text-area::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-two);
    border-radius: 10px;
}


a, a:active, a:focus, a:hover{
    color:var(--text-color-two);
    outline: none;
    text-decoration: none;
}

.errortext{
    color: var(--color-error-text);
}

/*SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-one);
    border-radius: 10px;
}

::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:end:increment{
    display:none;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       