@{
    Layout = null;
}
<div class="m-extern-box" id="iInviteContactCreate">
    <div class="m-extern-box-title">@ViewData["Title"]</div>
    <div class="m-extern-box-content">
        @ViewData["Message"]
        <div class="btn-group-lg d-flex justify-content-center">
            <button class="m-btn m-btn-sm" type="submit">Fechar</button>
        </div>
    </div>
</div>

<script>
    function sendComponetInfo(e){
        e.preventDefault()
    }
</script>