.main-page {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color-one);
    display: grid;
    grid-template-rows: 40px 6fr 40px;
    grid-template-areas:
        "headerMainPage"
        "contentMainPage "
        "footerMainPage"
}

.header-main-page {
    grid-area: headerMainPage;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: gray -1px -1px 20px 4px;
    margin: 5px 5px;
    padding: 0px 20px;
}

.header-main-page {
    display: flex;
}

.content-main-page {
    grid-area: contentMainPage;
    overflow: hidden;
}

.footer-main-page {
    grid-area: footerMainPage;
    background-color: var(--background-color-two);
    color: var(--text-color-two);

    display: flex;
    justify-content: center;
    align-items: center;
}
