@{
    Layout = null;
}

<div class="gbBlockWithTitle listContactSideChat">
    <div class="gbBoxTitle">
        Contatos
        <div>
            <button>Criar</button>
            <button>Deletar</button>
        </div>
    </div>
    <div class="gbBoxContent listContactContent">
        <div class="listContactShow listContactShowSelect">
            <div class="listContactBallOnline"></div>
            Marcos
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Marcelo
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Murilo
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            selton
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Magno magun
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            king crimison
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
        <div class="listContactShow">
            <div class="listContactBallOnline"></div>
            Sticky Fingers
        </div>
    </div>
</div>