@{
    Layout = null;
}

<div class="m-intern-block l-contact-intern-box">
    <div class="m-block-title">
        Contatos
        <div class="m-block-button-group">
            <button class="m-block-title-button m-button">Criar</button>
            <button class="m-block-title-button m-button">Deletar</button>
        </div>
    </div>
    <div class="m-block-content l-contact-content">
        @for(var i = 0; i < 10; i++)
            {

                if(i == 1)
                {
                    <div class="l-contacts-line selected">
                        <div class="l-contacts-ball l-contacts-ball-online"></div>
                        Marcos @i
                    </div>
                }
                else
                {
                    <div class="l-contacts-line">
                        <div class="l-contacts-ball l-contacts-ball-busy"></div>
                        Marcos @i
                    </div>
                }
            }
    </div>
</div>