@model APS_01_2021.Models.ViewModel.MessageBoxViewModel
@{
    Layout = null;
}

<div class="m-extern-box" id="iOptionBox">
    <div class="m-extern-box-title">@Model.Title</div>
    <div class="m-extern-box-content">
        <p>@Model.Message</p>
        <div class="btn-group-lg d-flex justify-content-center">
        </div>
    </div>
</div>