@{ 
    Layout = null;
}

<div class="chatMessage">
    <div class="chatMessageArea">
        <div class="chatMessageContentUser">
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>
        <div class="chatMessageContentContact">
            <p>user name: Marcos</p>
            <p>
                Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
                espero realmente que dê certo.
            </p>
            <p>horário: 04:05 - 10/05/2021</p>
        </div>
        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>

        <div class="chatMessageContentContact">
            user name: Mauricio
            Aqui está um exemplo de conteudo escrito que deve aparecer nos moldes corretos para ser exibido;
            espero realmente que dê certo.
            horário: 04:05 - 10/05/2021
        </div>
    </div>
    <div class="chatMessageTextArea">
         <textarea class="chatMessageTextInput" rows="2"></textarea>
         <button class="chatMessageButton">Send</button>
    </div>
</div>