@{ 
    Layout = null;
}

<div class="chat-message" onload="chat_run();">
    <div class="chat-message-area" id="chat_area">
    </div>
    <div class="chat-message-text-area">
         <textarea id="message-box" class="chat-message-text-input text-area" rows="2"></textarea>
         <button class="chat-message-send-button  m-button" id="SendButton" 
           onclick="ActMessage().SendMessage('@Url.Action("SendMessage","ChatMessage")')">
            Enviar
        </button>
    </div>
</div>

