@{ 
    Layout = null;
}

<div class="m-intern-block invite-intern-box">
    <div class="m-block-title">Convites Contatos</div>
    <div class="l-contact-content invite-content">
        <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
         <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
         <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
         <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
         <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
         <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
         <div class="invite-line">
            <label>Nome</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
        </div>
    </div>
</div>