@model IEnumerable<APS_01_2021.Models.InviteContactModel>
@{ 
    Layout = null;
}

<div class="m-intern-block invite-intern-box">
    <div class="m-block-title">Convites Contatos</div>
    <div class="l-contact-content invite-content">
        @foreach( var item in Model )
        {
            <div class="invite-line">
                <label>@item.ContactOneNickName</label>
                <div class="invite-bts-line-group">
                    <button class="m-button invite-bts-line">aceitar</button>
                    <button class="m-button invite-bts-line">rejeitar</button>
                </div>
            </div>
        }
    </div>
</div>