@{ 
    Layout = null;
}

<div class="chat-content">
    <div class="chat-content-side">
        @await Component.InvokeAsync("ListContacts")
        @await Component.InvokeAsync("ListMeeting") 
    </div>
    <div class="chat-content-main">
        @await Component.InvokeAsync("ChatMessage")
    </div>
</div> 