@{ 
    Layout = null;
}

<div class="chat-content" >
    <div class="chat-content-side" id="ichat-content-side">
        @await Component.InvokeAsync("ContactList")
        @await Component.InvokeAsync("MeetList") 
    </div>
    <div class="chat-content-main">
        @await Component.InvokeAsync("ChatMessage")
    </div>
</div> 