@{ 
    Layout = null;
}

<div class="chatPartContent">
    <div class="sideChatPartContenta">
        @await Component.InvokeAsync("ListContacts")
        @await Component.InvokeAsync("ListMeeting") 
    </div>
    <div class="mainChatPartContent">
        @await Component.InvokeAsync("ChatMessage")
    </div>
</div> 