>@{
    Layout = null;
}

<div class="m-extern-box" id="iInviteContactCreate">
    <div class="m-extern-box-title">Convites</div>
    <div class="m-extern-box-content">
            <label>Digite o Apelido:</label>
            <input class="m-input" type="text" id="iInviteContactInput"/>
            <div id="imessage_area"></div>
            <div class="btn-group-lg d-flex justify-content-center">
                <button class="m-btn m-btn-sm" type="submit"
                onclick = "ActContactMeet().SendInviteContact('@Url.Action("Create","InviteContact")')">
                    Enviar Convite
                </button>
            </div>
    </div>
</div>
