>@{
    Layout = null;
}

<div class="m-extern-box" id="iInviteContactCreate">
    <div class="m-extern-box-title">Convites</div>
    <div class="m-extern-box-content">
        <form onsubmit="UpdateInviteContactCreate(event)">
            <label>Digite o Apelido:</label>
            <input class="m-input" type="text" />
            <div id="imessage_area"></div>
            <div class="btn-group-lg d-flex justify-content-center">
                <button class="m-btn m-btn-sm" type="submit">Enviar Convite</button>
            </div>
        </form>
    </div>
</div>

<script>
    function UpdateInviteContactCreate(e){
        e.preventDefault()
        var datainput = e.target[0].value

        sendInfoComponentPopUp(e,
            '@Url.Action("Create","InviteContact")?contactNickName=' + `${datainput}`,'imessage_area')
    }
</script>