
@{ 
    Layout = null;
}

<div class="m-intern-block invite-intern-box">
    <div class="m-block-title">Convites Reunião</div>
    <div class="l-contact-content invite-content">
    </div>
</div>


<script>
    /*foreach(var item in Model)
        {
            <div class="invite-line-meeting">
            <label>item.AdminUserNickName</label>
            <label>item.Meeting_Time</label>
            <div class="invite-bts-line-group">
                <button class="m-button invite-bts-line">aceitar</button>
                <button class="m-button invite-bts-line">rejeitar</button>
            </div>
            </div>
        }*/
</script>