@model APS_01_2021.Models.MeetModel
@{
    Layout = null;
}

<div class="m-extern-box" id="iInviteContactCreate">
    <div class="m-extern-box-title">Convites Reuniões</div>
    <div class="m-extern-box-content">
        <form onsubmit="UpdateInviteMeetCreate(event)">
            <label>Criar:</label>
            <div class="invite-meet-datetime-area">
                <input type="date" asp-for="MeetingDate"/>
                <input type="time" asp-for="MeetingTime"/>
            </div>
            
            <label>Contatos:</label>
            @{
                if(Model.MeetContactConf.Count > 0)
                {
                    for(int i=0; i<Model.MeetContactConf.Count; i++)
                    {
                        <div>
                            <input type="checkbox" asp-for="@Model.MeetContactConf[i].IsModerator"/>
                            <label>@Model.MeetContactConf[i].NickName</label>
                        </div>
                    }
                }
                else
                {
                    <div>
                        Você ainda não tem contatos
                    </div>
                }
            }
            <div id="imessage_area"></div>
            <div class="btn-group-lg d-flex justify-content-center">
                <button class="m-btn m-btn-sm" type="submit">Criar Reunião</button>
            </div>
        </form>
    </div>
</div>

<script>
   /* function UpdateInviteContactCreate(e){
        e.preventDefault()
        var datainput = e.target[0].value

        sendInfoComponentPopUp(e,
            'Url.Action("Create","InviteContact")?contactNickName=' + `${datainput}`,'imessage_area')
    }*/
</script>