<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APS_01_2021</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MainPage/main-page.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Components/lists-components.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Components/content-chat.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Components/chat-messege-area.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    
</head>
<body>
    <div class="layout_main">
        @RenderBody()
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
