<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APS_01_2021</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MainPage/main-page.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Components/lists-components.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Components/content-chat.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Components/chat-messege-area.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    
</head>
<body>
    <div class="layout_main">
        @RenderBody()
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/HConnection.js" asp-append-version="true"></script>
    <script src="~/js/Connection/FrontAct.js" asp-append-version="true"></script>
    <script src="~/js/Connection/ActionElement.js" asp-append-version="true"></script>
    <script src="~/js/Connection/Structs.js" asp-append-version="true"></script>
     <script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


<script>
    "use strict"

    let conn = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    let username = '@User.Identity.Name'
    let contactmeetselected = ''

    conn.start().then(function () {
        ActContactMeet().CallInviteAcceptBox()
    }).catch(function (err) {
        return console.log(err.toString());
    })

    conn.on("Update", (data) => {FrontActUpdate(data)})
    conn.on("Call", (data) => {FrontActCall(data)})




   /* conn.on("ReceiveMessage", (data) => { ActMessage().ShowMessage(data) })
    conn.on("ReceiveFullChatMessage", (data) => { ActMessage().ShowAllConversation(data) })

    conn.on("ReceiveInviteContact", (data) => 
        {ActContactMeet().ReceiveInviteContact('Url.Action("GetReceive","InviteContact")',data)})

    conn.on("RefreshContacts", (data) => 
        { ActContactMeet().RefreshContacts(data)})

        //await Component.InvokeAsync("InviteAccept")*/
</script>
