@model IEnumerable<APS_01_2021.Models.InviteContactModel>
@{
    Layout = null;
}

<div class="m-intern-block invite-intern-box" id="iinvite_contact">
    <div class="m-block-title">Convites Contatos</div>

    <div class="l-contact-content invite-content" id="iinvite_contact_content">
        @{
            if (Model.FirstOrDefault() == null)
            {
                <script>ActInviters().ShowContentNotInvite("iinvite_contact_content")</script>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="invite-line" id="ibts-invite-@item.Invited_NickName">
                        <label>@item.Invited_NickName</label>
                        <div class="invite-bts-line-group">
                            <button class="m-button invite-bts-line"
                            onclick="ActInviters().InviteAccept('@item.Invited_NickName')">
                                aceitar
                            </button>
                            <button class="m-button invite-bts-line"
                            onclick="ActInviters().InviteReject('@item.Invited_NickName')">
                                rejeitar
                            </button>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
