/*LIST CONTACTS*/
.l-contact-intern-box {
    width: 90%;
    margin-top: 20px;
    max-height: 40%;
}

.l-contact-content {
    height: 70%;
}
 
.l-contacts-line {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-four);
}

.l-contacts-line:hover{
    background-color: var(--color-two);
    color: var(--color-one);
}

.l-contact-content > .selected {
    background-color: var(--color-three);
    color: var(--color-one);
}

.l-contacts-ball {
    border-radius: 10px;
    margin-right: 5px;
    height: 12px;
    width: 12px;
}

.l-contacts-ball-online {
    background-color: chartreuse;
}

.l-contacts-ball-busy {
    background-color: coral;
}

.l-contacts-ball-absent {
    background-color: yellow;
}

.l-contacts-ball-offline {
    background-color: black;
}
/*////////////////////////////////////////*/
/*list contact*/
.invite-intern-box {
    height: 180px;
    margin: 10px 0px;
}

.invite-content {
    display: flex;
    flex-direction: column; 
    justify-content: start; 
    overflow: scroll;
    padding: 2px 0px 20px 0px;
    height: 180px;
    background-color: var(--background-color-one);
}

.invite-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 30px;
    padding-left: 10px;
    margin-top: 2px;
    border-radius: 5px;
    align-items: center;
    color: var(--color-four);
} 

.invite-bts-line-group {
    display: flex;
    flex-wrap: nowrap;
    margin-left:auto; 
    padding: 10px;
    border-radius: 5px;
}

.invite-bts-line{
    margin: 0px 0px 0px 5px; 
    border-radius: 2px;
}


/*////////////////////////////////////////*/
/*LIST MEETINGS*/
.l-meeting-intern-box {
    width: 90%;
    margin-top: 20px;
    max-height: 40%;
    overflow-x: hidden;
    border-radius: 20px;
}

.l-meeting-content {
    height: 70%;
}

.l-meetings-line p {
    margin: 0px;
}

.l-meetings-line {
    border-bottom: 2px solid var(--color-three);
    border-radius: 5px;
    padding: 2px;
    color: var(--color-four);
}

.l-meetings-line:hover{
    background-color: var(--color-two);
    color: var(--color-one);
}

.l-meeting-content > .selected {
    background-color: var(--color-three);
    color: var(--color-one);
}

/*---------------------------------------------------*/
/*MeetingCreate*/
.invite-meet-datetime-area{
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--color-two); 
}
.invite-meet-contact-area {
    padding: 8px 0px;
    border-radius: 5px;
    height: 200px;
    overflow-y:scroll;
    color: var(--color-five);
    background-color: var(--color-two);
}
.invite-meet-contact-area > div:nth-child(n){
    padding: 2px 15px;
}
    .invite-meet-contact-area > div:nth-child(n) > label {
        margin-right: auto; 
    }

.invite-meet-contact-area > div:nth-child(2n+1){
    color: var(--color-one);
    background-color: var(--color-four);
}