/*LIST CONTACTS*/
.l-contact-intern-box {
    width: 90%;
    margin-top: 20px;
    max-height: 40%;
}

.l-contact-content {
    height: 70%;
}
 
.l-contacts-line {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    color: var(--color-four);
}

.l-contacts-line:hover{
    background-color: var(--color-two);
    color: var(--color-one);
}

.l-contact-content > .selected {
    background-color: var(--color-three);
    color: var(--color-one);
}

.l-contacts-ball {
    border-radius: 10px;
    margin-right: 5px;
    height: 12px;
    width: 12px;
}

.l-contacts-ball-online {
    background-color: chartreuse;
}

.l-contacts-ball-busy {
    background-color: coral;
}

.l-contacts-ball-absent {
    background-color: yellow;
}

.l-contacts-ball-offline {
    background-color: black;
}
/*////////////////////////////////////////*/
/*list contact*/
.invite-intern-box {
    height: 180px;
    margin: 10px 0px;
}

.invite-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    overflow: scroll;
    padding: 20px 0px;
    height: 180px;
    background-color: var(--background-color-one);
}

.invite-line {
    display: flex; 
    height: 30px; 
    padding-left: 10px;
    margin-top: 2px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    color: var(--color-four);
} 

.invite-bts-line-group {
    margin-left: 90px; 
    padding: 10px;
    border-radius: 5px;
}

.invite-bts-line{
    margin: 0px; 
    border-radius: 2px;
}
/*////////////////////////////////////////*/
/*LIST MEETINGS*/
.l-meeting-intern-box {
    width: 90%;
    margin-top: 20px;
    max-height: 40%;
    overflow-x: hidden;
    border-radius: 20px;
}

.l-meeting-content {
    height: 70%;
}

.l-meetings-line p {
    margin: 0px;
}

.l-meetings-line {
    border-bottom: 2px solid var(--color-three);
    border-radius: 5px;
    padding: 2px;
    color: var(--color-four);
}

.l-meetings-line:hover{
    background-color: var(--color-two);
    color: var(--color-one);
}

.l-meeting-content > .selected {
    background-color: var(--color-three);
    color: var(--color-one);
}