@section Styles{ 
    <link href="~/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/MainPage/main-page.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Components/lists-components.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Components/content-chat.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Components/chat-messege-area.css" rel="stylesheet" type="text/css"/>
}

@{
    ViewData["Title"] = "Index";
}

<div class="main-page">
    <header class="header-main-page">
        @await Component.InvokeAsync("HeaderMain")
    </header>
    <div class="content-main-page">
        @await Component.InvokeAsync("ContentChat") 
    </div>
    <footer class="footer-main-page">
        <strong>App Construído para a aps da unip - 4° semestre 2021 - App </strong>
    </footer>
</div>





