@section Styles{ 
    <link href="~/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Components/lists-components.css" rel="stylesheet" type="text/css"/>
 <link href="~/css/MainPage/MainPage.css" rel="stylesheet" type="text/css"/>
 <link href="~/css/Components/ContentChat.css" rel="stylesheet" type="text/css" />
 <link href="~/css/Components/ListContacts.css" rel="stylesheet" type="text/css" />
 <link href="~/css/Components/ListMeeting.css" rel="stylesheet" type="text/css"/>
 <link href="~/css/Components/ChatMessage.css" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Index";
}

<div class="mainPage">
    <header class="headerMainPage">
        @await Component.InvokeAsync("HeaderMain")
    </header>
    <div class="contentMainPage">
        @await Component.InvokeAsync("ContentChat") 
    </div>
    <footer class="footerMainPage">footer Component</footer>
</div>





