@{
    ViewData["Title"] = "Index";
}

<div class="main-page" id="main-page-chat">
    <header class="header-main-page">
        @await Component.InvokeAsync("HeaderMain")
    </header>
    <div class="content-main-page">
        @await Component.InvokeAsync("ContentChat") 
    </div>
    <footer class="footer-main-page">
        <strong>App Construído para a aps da unip - 4° semestre 2021 - App </strong>
    </footer>
</div>

<script>

</script>