@{ 
    Layout = null;
}

<div class="gbBlockWithTitle listMeetingSideChat">
    <div class="m-block-title">
        Reunião
        <div class="m-block-button-group">
            <button class="m-block-title-button">Criar</button>
            <button class="m-block-title-button">Deletar</button>
        </div>
    </div>
    <div class="m-block-content listMeetingContent">
        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>
    </div>
</div>