@{ 
    Layout = null;
}

<div class="gbBlockWithTitle listMeetingSideChat">
    <div class="gbBoxTitle">
        Reunião
        <div>
            <button>Criar</button>
            <button>Deletar</button>
        </div>
    </div>
    <div class="gbBoxContent listMeetingContent">
        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>

        <div class="listMeetingShow">
            <p>Motivo: exemplo</p>
            <p>Solicitante: Marcos</p>
            <p>Data:</p>
            <p>Hora:</p>
        </div>
    </div>
</div>