@model APS_01_2021.Models.UserModel
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="all-page">
    <div class="m-block-intern-box login-area">
        <form action="/" method="post">
            <h2>Esqueceu sua senha?</h2>
            <p>
                Essa página vai enviar um email com instruções.
            </p>
            <label for="iNickOrEmailForget">Digite abaixo Apelido ou Email</label>
            <input type="text" id="iNickOrEmailForget" class="form-control" placeholder="Digite o apelido ou email aqui" />

            <div class="d-flex flex-column align-items-center" role="group">
                <button type="button" class="m-button m-button-login-enter m-btn-passion">Enviar para o email</button>
            </div>
        </form>
    </div>
</div>