@model APS_01_2021.Models.UserModel
@{ 
    ViewData["Title"] = "Login";
}

<div class="all-page">
    <div class="m-block-intern-box login-area">
        <form action="/" method="post">
            <h2>Login</h2>
            <label for="iNickOrEmailLogin">Apelido ou Email</label>
            <input type="text" id="iNickOrEmailLogin" class="form-control" placeholder="Digite o apelido ou email aqui" />
            <label for="iPassword">Senha</label>
            <input type="password" id="iPasswordLogin" class="form-control" placeholder="Digite a senha" />

            <div class="d-flex flex-column align-items-center" role="group">
                <button type="button" class="m-button m-button-login-enter m-btn-passion">Entrar</button>
                <a>Não tenho cadastro</a>
                <a>Esquecia a senha</a>
            </div>

        </form>
    </div>
</div>