@model APS_01_2021.Models.UserModel
@{ 
    ViewData["Title"] = "Login";
}

<div class="all-page">
    <div class="m-block-intern-box login-area">
        <form asp-action="login" method="post">
            <h2>Login</h2>
            <label for="iNickOrEmailLogin">Apelido ou Email</label>
            <input type="text" id="iNickOrEmailLogin" asp-for="NickName"
                class="form-control" placeholder="Digite o apelido ou email aqui" />

            <label for="iPassword">Senha</label>
            <input type="password" id="iPasswordLogin" asp-for="Password"
                class="form-control" placeholder="Digite a senha" />
            <div class="errortext">
                @if(TempData["Error"] != null)
                {
                    <p>@TempData["Error"]</p>
                }
            </div>

            <div class="d-flex flex-column align-items-center" role="group">
                <button type="submit" class="m-button m-button-login-enter m-btn-passion" value="login">
                    Entrar
                </button>
                <a>Não tenho cadastro</a>
                <a>Esquecia a senha</a>
            </div>


        </form>
    </div>
</div>