@model APS_01_2021.Models.User
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="allpage">
    <div class="login_block">
        <form action="/" method="post">
            <h2>Redefinição de senha</h2>
            <label for="iNewPassword">Senha</label>
            <input type="password" id="iNewPassword" class="form-control" placeholder="Digite a senha" />

            <label for="iVerifyNewPassword">Redigite a senha</label>
            <input type="password" id="iVerifyNewPassword" class="form-control" placeholder="Digite a senha novamente" />

            <div class="d-flex flex-column align-items-center" role="group">
                <button type="button" class="btn btn-success mb-3 mt-3">Redefinir</button>
            </div>
        </form>
    </div>
</div>