@model APS_01_2021.Models.UserModel
@{
    ViewData["Title"] = "Register";
}

<div class="all-page">
    <div class="m-block-intern-box login-area">
        <form action="/" method="post">
            <h2>Registro</h2>
            <label for="iNameRegister">Nome do usuário</label>
            <input type="text" id="iNameRegister" class="form-control" placeholder="Digite o Nome" />
            
            <label for="iNickNameRegister">Apelido</label>
            <input type="text" id="iNickNameRegister" class="form-control" placeholder="Digite o Apelido"/>
            
            <label for="iDateBornRegister">Data de Nasc</label>
            <input type="date" id="iDateBornRegister" class="form-control"/>
            
            <label for="iEmailRegister">Email</label>
            <input type="text" id="iEmailRegister" class="form-control" placeholder="Digite o Email" />

            <label for="iPasswordRegister">Senha</label>
            <input type="password" id="iPasswordRegister" class="form-control" placeholder="Digite a senha" />

            <label for="iVerifyPasswordRegister">Redigite a senha</label>
            <input type="password" id="iVerifyPasswordRegister" class="form-control" placeholder="Digite a senha novamente" />

            <div class="d-flex flex-column align-items-center" role="group">
                <button type="button" class="m-button m-button-login-enter m-btn-passion">Registrar</button>
                <a>Retornar para o login</a>
            </div>

        </form>
    </div>
</div>